@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FDFDFD;
    box-sizing: border-box;
}

.seccion1 {
    /* background-color: #19222b;
    background-image: linear-gradient(90deg, #19222b 0%, #606868 50%, #19222b 100%); */
    background-image: url("/media/header.jpg");
    background-size:100% 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 210px auto 210px;
    grid-template-rows: 280px 200px 220px;
}

.seccion1 .linea-arriba{
    grid-column: 2/3;
    grid-row: 2;
    border: 0 ; 
    border-top:  1px solid #676C70; 
    border-bottom: 1px solid #676C70;
    width: 100%;
    height: 10px;
}

.seccion1 h2 {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top: 50px;
    color: #D2D4D5;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2;
    font-size: 35px;
}
.seccion1 .linea-abajo{
    grid-column: 2/3;
    grid-row: 3;
    border: 0 ; 
    border-top:  1px solid #676C70; 
    border-bottom: 1px solid #676C70;
    width: 100%;
    height: 10px;
    margin-bottom: 20px;
}
.seccion1 .xq{
    position: relative;
    top: 60px;
    display: flex;
    text-align: right;
    grid-column: 2/3;
    grid-row: 3;
}
.seccion1 .xq h3{
    color: #D2D4D5;
    padding-left: 45px;
    padding-right: 20px;
    font-size: 25px;
}
.seccion1 .xq button{
    background-color: #317196;
    background-image: linear-gradient(0deg, #317196 0%, #4d96c0 100%);
    margin-right: 30px;
    width:400px;
    height: 70px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.seccion1 .xq .fab{
    color: #D2D4D5;
    margin-right: 10px;
}

.cabecera{
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 80%;
    height: 70px;
    background-image: linear-gradient(to top, #2D2F32 0%, #3D3F45 100%);;
    color: #FDFDFD;
    box-shadow: 0px 0px 0px 10px #727576;
    border-radius: 5px;
}

.navbar {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.navbar h1{
    padding-left: 10px ;
    font-size: 25px;
}

.navbar ul{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    grid-column: 4/9;
}

.navbar ul li{
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    font-size: 15px;
}
.navbar ul li a{
    text-decoration:none;
}

.navbar ul li:hover{
    background-color: #212226;
}





